body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:666px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u0 {
  position:absolute;
  left:20px;
  top:15px;
  width:172px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:168px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u2 {
  position:absolute;
  left:20px;
  top:79px;
  width:262px;
  height:32px;
  font-size:18px;
  text-align:left;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:258px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:374px;
}
#u4 {
  position:absolute;
  left:20px;
  top:121px;
  width:646px;
  height:374px;
}
#u5 {
  position:absolute;
  left:2px;
  top:179px;
  width:642px;
  visibility:hidden;
  word-wrap:break-word;
}
