body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
}
#u917 {
  position:absolute;
  left:2px;
  top:28px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:552px;
}
#u918 {
  position:absolute;
  left:0px;
  top:72px;
  width:376px;
  height:552px;
}
#u919 {
  position:absolute;
  left:2px;
  top:268px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:80px;
}
#u920 {
  position:absolute;
  left:0px;
  top:624px;
  width:376px;
  height:80px;
}
#u921 {
  position:absolute;
  left:2px;
  top:32px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:552px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u923 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:552px;
  font-size:14px;
}
#u924 {
  position:absolute;
  left:2px;
  top:268px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:24px;
}
#u926 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u927 {
  position:absolute;
  left:260px;
  top:78px;
  width:100px;
  height:13px;
}
#u928 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u931 {
  position:absolute;
  left:8px;
  top:94px;
  width:360px;
  height:49px;
  font-size:14px;
}
#u932 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u933 {
  position:absolute;
  left:23px;
  top:108px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:14px;
}
#u934 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u935 {
  position:absolute;
  left:60px;
  top:110px;
  width:160px;
  height:18px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u936 {
  position:absolute;
  left:2px;
  top:-2px;
  width:156px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u937 {
  position:absolute;
  left:336px;
  top:116px;
  width:21px;
  height:7px;
}
#u938 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u939 {
  position:absolute;
  left:8px;
  top:143px;
  width:360px;
  height:50px;
  font-size:14px;
}
#u940 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u941 {
  position:absolute;
  left:18px;
  top:153px;
  width:262px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u942 {
  position:absolute;
  left:2px;
  top:11px;
  width:258px;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u943 {
  position:absolute;
  left:8px;
  top:193px;
  width:360px;
  height:116px;
  font-size:14px;
}
#u944 {
  position:absolute;
  left:2px;
  top:50px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:1px;
}
#u945 {
  position:absolute;
  left:18px;
  top:193px;
  width:350px;
  height:1px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u947 {
  position:absolute;
  left:18px;
  top:193px;
  width:295px;
  height:40px;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u948 {
  position:absolute;
  left:2px;
  top:11px;
  width:291px;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u949 {
  position:absolute;
  left:8px;
  top:319px;
  width:360px;
  height:40px;
  font-size:14px;
}
#u950 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(0, 0, 0, 0.83921568627451);
  text-align:left;
}
#u951 {
  position:absolute;
  left:18px;
  top:319px;
  width:295px;
  height:40px;
  font-size:18px;
  color:rgba(0, 0, 0, 0.83921568627451);
  text-align:left;
}
#u952 {
  position:absolute;
  left:2px;
  top:9px;
  width:291px;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u953 {
  position:absolute;
  left:323px;
  top:323px;
  width:30px;
  height:30px;
}
#u954 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u955 {
  position:absolute;
  left:8px;
  top:359px;
  width:360px;
  height:51px;
  font-size:14px;
}
#u956 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:1px;
}
#u957 {
  position:absolute;
  left:18px;
  top:358px;
  width:350px;
  height:1px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u959 {
  position:absolute;
  left:18px;
  top:369px;
  width:95px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u960 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u961 {
  position:absolute;
  left:89px;
  top:376px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:14px;
}
#u962 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u963 {
  position:absolute;
  left:125px;
  top:369px;
  width:95px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u964 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u965 {
  position:absolute;
  left:196px;
  top:375px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:14px;
}
#u966 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u967 {
  position:absolute;
  left:230px;
  top:369px;
  width:76px;
  height:29px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u968 {
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u969 {
  position:absolute;
  left:281px;
  top:376px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:14px;
}
#u970 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u971 {
  position:absolute;
  left:8px;
  top:420px;
  width:360px;
  height:40px;
  font-size:14px;
}
#u972 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(0, 0, 0, 0.83921568627451);
  text-align:left;
}
#u973 {
  position:absolute;
  left:18px;
  top:420px;
  width:295px;
  height:40px;
  font-size:18px;
  color:rgba(0, 0, 0, 0.83921568627451);
  text-align:left;
}
#u974 {
  position:absolute;
  left:2px;
  top:9px;
  width:291px;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u975 {
  position:absolute;
  left:8px;
  top:460px;
  width:360px;
  height:40px;
  font-size:14px;
}
#u976 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:1px;
}
#u977 {
  position:absolute;
  left:18px;
  top:459px;
  width:350px;
  height:1px;
  color:rgba(0, 0, 0, 0.0980392156862745);
}
#u978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u979 {
  position:absolute;
  left:98px;
  top:420px;
  width:202px;
  height:40px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u980 {
  position:absolute;
  left:2px;
  top:13px;
  width:198px;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u981 {
  position:absolute;
  left:18px;
  top:460px;
  width:262px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u982 {
  position:absolute;
  left:2px;
  top:11px;
  width:258px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u983 {
  position:absolute;
  left:307px;
  top:510px;
  width:50px;
  height:31px;
}
#u984 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u985 {
  position:absolute;
  left:18px;
  top:510px;
  width:83px;
  height:31px;
  font-size:18px;
}
#u986 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.8);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u987 {
  position:absolute;
  left:18px;
  top:557px;
  width:339px;
  height:45px;
  font-size:18px;
  color:#FFFFFF;
}
#u988 {
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:552px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u989 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:552px;
  font-size:14px;
}
#u990 {
  position:absolute;
  left:2px;
  top:268px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:303px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u991 {
  position:absolute;
  left:52px;
  top:226px;
  width:272px;
  height:303px;
  font-size:14px;
}
#u992 {
  position:absolute;
  left:2px;
  top:144px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u993 {
  position:absolute;
  left:289px;
  top:239px;
  width:25px;
  height:25px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-size:14px;
}
#u994 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u995 {
  position:absolute;
  left:150px;
  top:243px;
  width:77px;
  height:77px;
}
#u996 {
  position:absolute;
  left:2px;
  top:31px;
  width:73px;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  position:absolute;
  left:53px;
  top:330px;
  width:271px;
  height:29px;
}
#u998 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u999 {
  position:absolute;
  left:73px;
  top:369px;
  width:70px;
  height:40px;
  font-size:18px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1001 {
  position:absolute;
  left:153px;
  top:369px;
  width:70px;
  height:40px;
  font-size:18px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1003 {
  position:absolute;
  left:233px;
  top:369px;
  width:70px;
  height:40px;
  font-size:18px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1005 {
  position:absolute;
  left:73px;
  top:420px;
  width:70px;
  height:40px;
  font-size:18px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1007 {
  position:absolute;
  left:153px;
  top:420px;
  width:70px;
  height:40px;
  font-size:18px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1009 {
  position:absolute;
  left:233px;
  top:420px;
  width:70px;
  height:40px;
  font-size:18px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1011 {
  position:absolute;
  left:52px;
  top:460px;
  width:272px;
  height:69px;
  font-size:14px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:26px;
  width:268px;
  word-wrap:break-word;
}
